html, body, .main-container, .main-view-panel{
    width: 100%;
    height: 100%;
}

.general-view{

    height: 100%;
    background-color: #5CC466;
}

.view{
    height: 100%;
}

.character-info{

    height: 100%;

    /*background-color: purple;*/
}

.character{
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.status-bar{
    width: 80%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.25em;
    color: white;

    background-color: rgba(255, 255, 255, 0.125);
}

.menu{

    height: 100%;
    /*background-color: red;*/
}

.menu-item{

    height: 25%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-item img{
    height: 125px;
    height: 125px;
}

.view-content{

    height: 100%;
    /*background-color: blue;*/
}

.button{

    width: 150px;
    height: 75px;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 2.5%;
    color: white;
    background-color: darkturquoise;
    font-size: 1.5em;

    cursor: pointer;

}

.genders-view{

    height: 100%;

    background-color: purple;

    display: flex;
    justify-content: center;
    align-items: center;
}

.genders-icon{
    width: 350px;
    height: 350px;
}

.button-column{
    display: flex;
    justify-content: center;
    align-items: center;
}

.title{
    color: white;
}

.career-title{
    color:white;
    font-size: 1.5em;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 5%;
}

.player-icon{
    height: 500px;
}

.small-diamond-icon{
    height: 25px;
    width: 25px;
}

.medium-diamond-icon {
    height: 40px;
    width: 40px;
}

.diamonds .medium-diamond-icon {
    margin-left: 10px;
}

.chores-list{
    width: 80%;
    margin-top: 10%;
    margin-bottom: 10%;
}

.chore{
    padding: 2.5%;
    background-color: rgba(255, 255, 255, 0.25);
    margin-top: 2.5%;
    font-size: 1.25em;
    color: white;
    cursor: pointer;
}

.chore-reward span, .chore-reward img{
    float: right;
}

.chore-reward img {
    float: right;
    margin-left: 5px;
    margin-right: 5px;
}

.icon-circle{

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    height: 200px;
    width: 200px;

    cursor: pointer;

    background-color: rgba(255, 255, 255, 0.6);
}

.small-icon-circle{

    margin: 10%;

    background-color: darkturquoise;
    height: 120px;
    width: 120px;

}

.small-icon-circle img{

    max-height: 100px;
    max-width: 100px;
}

.shop-item, .inventory-item{
    padding: 5%;
}

.shop-item-info, .inventory-item-info{

    margin-top: 10%;

    font-size: 1.25em;
    color: white;

}

.shop-panel, .inventory-panel{
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-circle.purchased{
    opacity: 0.25;
    background-color: green;
}

.career-map-panel{
    width: 100%;
    height: 100%;
}

#map-canvas{
    background-color: greenyellow;
}

.monster-container{
    width: 100%;
    height: 100%;
}

.monster{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.monster-panel{
    width: 100%;
    height: 100%;
    background-color: black;

}

.monster-img{
    /*width: 800px;*/
    /*height: 800px;*/
}

.shake{
    -webkit-animation: shake 0.5s !important;
}

.dead-monster{
    -webkit-animation: rollOut 0.5s !important;
}

.speech-bubble-container{
    position: absolute;
    right: 25px;
    top: 100px;
    z-index: 2;
}

.talk-bubble {
    margin: 40px;
    display: inline-block;
    position: relative;
    width: 200px;
    height: auto;
    background-color: lightyellow;
}

/* Right triangle, left side slightly down */
.tri-right.border.left-in:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: -40px;
    right: auto;
    top: 30px;
    bottom: auto;
    border: 20px solid;
    border-color: #666 #666 transparent transparent;
}
.tri-right.left-in:after{
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: -20px;
    right: auto;
    top: 38px;
    bottom: auto;
    border: 12px solid;
    border-color: lightyellow lightyellow transparent transparent;
}

/* talk bubble contents */
.talktext{
    font-size: 2em;
    line-height: 1.5em;
    padding: 1em;
    text-align: left;

}
.talktext p{
    /* remove webkit p margins */
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}

/*Custom modal*/

#custom-modal{
    z-index: 1000;
}

#overlay {
    position: fixed;
    left: 25%;
    top: 25%;
    padding: 25px;
    border: 2px solid black;
    background-color: #ffffff;
    width: 50%;
    height: 50%;
    z-index: 100;
}
#fade {
    position: fixed;
    left: 0%;
    top: 0%;
    background-color: black;
    -moz-opacity: 0.7;
    opacity: .70;
    filter: alpha(opacity=70);
    width: 100%;
    height: 100%;
    z-index: 90;
}

#custom-modal.ng-enter {
    transition: opacity .5s ease-out;
    opacity: 0;
}
#custom-modal.ng-enter.ng-enter-active {
    opacity: 1;
}
#custom-modal.ng-leave {
    transition: opacity .5s ease-out;
    opacity: 1;
}
#custom-modal.ng-leave.ng-leave-active {
    opacity: 0;
}

.inner-map{
    position: relative;
}

.level-circle{
    border-radius: 50%;
    height: 60px;
    width: 60px;

    background-color: rgba(128, 128, 128, 0.5);

    cursor: pointer;
}

#level1{
    position: absolute;

    top: 600px;
    left: 50px;
}

#level2{
    position: absolute;

    top: 600px;
    left: 200px;
}

#level3{
    position: absolute;

    top: 420px;
    left: 200px;
}

#level4{
    position: absolute;

    top: 420px;
    left: 350px;
}

#level5{
    position: absolute;

    top: 280px;
    left: 350px;
}

#level6{
    position: absolute;

    top: 280px;
    left: 550px;
}

#level7{
    position: absolute;

    top: 80px;
    left: 550px;
}

.red-circle{
    background-color: red;
}

.question-mark{
    font-size: 2.5em;
    margin-top: 25px;
    margin-left: 20px;
}

